<form>
    <div class="form-group">
        <label>Star Citzen naam :</label>
        <input class="form-control" ng-model="form.name" type="text" name="name">
    </div>

    <div class="form-group">
        <label>E-mail adres :</label>
        <input class="form-control" ng-model="form.email" type="email" name="email">
    </div>
  <hr>
  <div class="form-group text-center">                              
    <button ng-click="submit(form)" class="btn btn-sm btn-primary">Wachtwoord vergeten!</button>
    <a ui-sref="login" class="btn btn-sm btn-primary">Login</a>
  </div>    
</form>