.landingpage{
	margin: 0 auto;
    //max-width: 1030px;
    width: 100%;
    .text-white{
    	font-size: 12pt;
    	cursor: pointer;
    	display: block;
    	overflow: hidden !important;
    }

    .dark_card{
        margin-bottom: 20px;
    }
}