
<div class="PageHeader-pageHeader">
    <div class="PageHeaderLeft-pageHeaderLeft">
        Save My Ships       
    </div>

    <div class="PageHeaderLeft-pageHeaderRight">
        <div class="quicksearch_inputcontainer">
            <div class="quicksearchinput_container">                
                    <label for="search" class="quicksearchinput_icon">Search</label> 
                    <input id="search" class="quicksearchinput_searchinput" ng-model="search" type="text" autocomplete="off" spellcheck="false">                   
            </div>
        </div>
    </div>  
</div>

<div class="PageContent-pageContent Scroller-scroller Scroller-vertical">
    <div class="DiscoverPage-discoverPageContent PageContent-innerPageContent">
      <!--Big blue-->
        <div class="text-center loading">
            <h2>Loading..</h2>
            <div class="preloader-wrapper big active">
              <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div>
                <div class="gap-patch">
                  <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
        </div>

        <div style="margin-bottom: 20px">
            <div class="row pages">

                <div class="col-md-12 ship_cat">
                  
                  <div ng-show="ships.length < 1" class="container">
                    <div class="card dark_card">
                      <div class="card-body">
                        <h2 class="text-center">No data found</h2>
                      </div>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-md-4" ng-repeat="ship in ships | filter:search">  
                        <div class="card-warper">
                            <div class="card dark_card">
                                <div class="card-inner">
                                    <div class="card-heading">
                                        <h2 class="card-title float-left">
                                            <span ng-bind-html="ship.ship_name"></span><br>
                                            <small ng-bind-html="ship.manufacturer"></small>
                                        </h2>
                                        
                                        <div class="float-right">
                                          <button ng-click="buyit(ship)" title="buy">
                                              <div class="panel-btn-inner">
                                                  <span>
                                                      <i class="far fa-credit-card"></i>
                                                  </span>
                                              </div>
                                          </button>

                                          <button ng-class="ship.showdepostit" ng-click="depostit(ship)" title="depost">
                                            <div class="panel-btn-inner">
                                                  <span>
                                                      <i class="fas fa-shopping-cart"></i>
                                                  </span>                                                  
                                              </div>
                                          </button>

                                          <button ng-click="trash(ship)" title="Delete">
                                            <div class="panel-btn-inner">
                                                  <span>
                                                      <i class="far fa-trash-alt"></i>
                                                  </span>
                                              </div>
                                          </button>                                          
                                        </div> 


                                        <div class="clearfix"></div>                                                        
                                    </div>

                                    <div class="card-image no-details">
                                        <a ui-sref="ship_details({uuid:ship.ship_uuid})"  class="image" style="background-image: url('{{ship.ship_img}}');">
                                            <div class="info" ng-if="ship.location || ship.showPrice">
                                                <h4>
                                                  <span>Location: <span ng-bind-html="ship.location"></span> </span>
                                                  <span>Price: <span ng-bind-html="ship.showPrice"></span></span>
                                                </h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>                               
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>