body{
	fill: currentColor;
	font-family: Open Sans Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.71428571;
    color: #eee;
    background-color: transparent;
}

#CompanyEarings14Days{
	text{fill: #fff !important;}
	.apexcharts-toolbar{ display: none; }	
}

#CompanyCapitalChart{
	.apexcharts-legend-text{
		color: #fff !important;
	}
}

.fullpage_container{
	font-size: 13px;
    font-family: Open Sans Semibold,Helvetica Neue,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
}

.application{
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    @import 'base/globals';
    
    @import 'base/navbar';
    @import 'base/background';
	@import 'base/scrollbar';
	@import 'base/sidebar';
	@import 'base/input';	
	@import 'base/landingpage';
    @import 'base/settingspage';
    @import 'base/ship_cat';
    @import 'base/ship_deatils';
}